[submodule "tikv"]
	path = tikv
	url = https://github.com/tikv/tikv.git
	branch = master
[submodule "multi-agent-ralph-loop"]
	path = multi-agent-ralph-loop
	url = https://github.com/alfredolopez80/multi-agent-ralph-loop.git
	branch = main
